h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.App{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options-container{
  width: 50%;
  height: 100vh;
  background-color: #d4e09b;
  display: flex;
  justify-content: center;
}

.viewer-container{
  background-color: #f6f4d2;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .App{
    flex-direction: column;
  }
  .options-container, .viewer-container{
    width: 100%;
  }
  .options-container{
    height: 100%;
  }
  .viewer-container{
    height: 100%;
    padding: 30px;
  }

}
